.jgd-gallery figure {
  margin: 0;
}

.jgd-gallery__image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.padding-24 {
  padding: 24px 0;
}

.padding-48 {
  padding: 48px 0;
}

.padding-72 {
  padding: 72px 0;
}

.padding-96 {
  padding: 96px 0;
}
