/* Basic CSS/Reset/Shared CSS */
@use 'reset';

@use 'base';

@use 'browser-overrides';

/* Layout */
@use 'layout';

/* Components */
@use 'components';

/* JS modal classes */
@use 'state';

/* CSS for Gallery output */
@use 'gallery-base';

@use 'gallery-square';

@use 'gallery-vert-masonry';

/* Utility classes for JavaScript, Animations etc. */
.hide,
.screen-reader {
  position: absolute;
  left: -9999px;
}

.error,
.warning {
  font-size: 0.9rem;
  padding: 0 0.5em;
}

.error ~ input {
  border: 1px solid var(--danger);
}

.warning ~ input {
  border: 1px solid var(--warning);
}

.img-placeholder {
  align-self: center;
  text-align: center;
}

.off-screen-left {
  transform: translateX(-102%);
}
