/* Basic CSS/Reset/Shared CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #dedede;
  line-height: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

body::-webkit-scrollbar,
.instructions::-webkit-scrollbar,
.code-panel__code::-webkit-scrollbar {
  background-color: rgb(192, 192, 204);
  width: 1em;
}

body::-webkit-scrollbar-track,
.instructions::-webkit-scrollbar-track,
.code-panel__code::-webkit-scrollbar-track {
  box-shadow: -1px -1px 3px 0 rgba(255, 255, 255, 0.4) inset,
    1px 1px 3px 0 rgba(0, 0, 0, 0.4) inset;
}

body::-webkit-scrollbar-thumb,
.instructions::-webkit-scrollbar-thumb,
.code-panel__code::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #fafafa;
  border: 3px solid transparent;
  border-radius: 0.5em;
  box-shadow: 1px 1px 3px 0 rgba(255, 255, 255, 0.4) inset,
   -1px -1px 3px 0 rgba(0, 0, 0, 0.4) inset;
  width: 0.5em;
}

.code-panel__code::-webkit-scrollbar:vertical,
.code-panel__code::-webkit-scrollbar-track:vertical {
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.code-panel__code::-webkit-scrollbar:horizontal,
.code-panel__code::-webkit-scrollbar-track:horizontal {
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.code-panel__code::-webkit-scrollbar-corner {
  border-bottom-right-radius: 1em;
}

a,
a:visited {
  color: rgb(192, 192, 255);
}

h1, h2, h3, h4, h5 {
  margin-bottom: 1rem;
}

p, ol, ul {
  margin-bottom: 1rem;
}

ol, ul {
  margin-left: 1em;
}

pre {
  font-family: 'Fira Mono', monospace;
  overflow: auto;
}

.btn,
input,
select {
  border: transparent;
  border-radius: 1em;
  font-family: 'Open Sans', sans-serif;
  padding: 0.5em 1em;
}

.btn,
select {
  background-color: transparent;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4),
   -2px -2px 5px 0 rgba(255, 255, 255, 0.25);
  color: #fefefe;
}

select:focus,
.btn:active {
  box-shadow: -2px -2px 5px 0 rgba(255, 255, 255, 0.25) inset,
    2px 2px 5px 0 rgba(0, 0, 0, 0.4) inset;
}

select:disabled,
.btn:disabled {
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4),
   -2px -2px 5px 0 rgba(255, 255, 255, 0.25);
  opacity: 0.5;
}

.text-input {
  box-shadow: -2px -2px 5px 0 rgba(255, 255, 255, 0.4) inset,
    2px 2px 5px 0 rgba(0, 0, 0, 0.4) inset;
  background-color: rgb(192, 192, 204);
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select option {
  color: #333333;
}

hr {
  border: 1px inset rgba(255, 255, 255, 0.25);
  margin: 2em auto;
  width: 75%;
}

/* Layout */
.header {
  background-color: rgb(32, 32, 48);
  box-shadow: 0px 8px 5px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  min-height: 196px;
  position: relative;
  z-index: 2;
}

.form-controls,
.instructions {
  background-color: rgb(48, 48, 64);
  padding: 1em;
}

.instructions {
  box-shadow: 8px 8px 5px 0 rgba(0, 0, 0, 0.25);
  overflow: auto;
  position: absolute;
  top: 196px;
  left: 0;
  animation-timing-function: ease-in;
  transition: 1s;
  width: 100%;
  z-index: 2;
}

.form-controls {
  box-shadow: 0px 8px 5px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding-top: calc(64px + 2em);
  position: relative;
  z-index: 1;
}

.gallery-container,
.code-panel{
  background-color: rgb(64, 64, 80);
}

.code-panel {
  border-top: 1px inset rgba(255, 255, 255, 0.25);
  padding: 2em 1em;
}

.footer {
  background-color: rgb(32, 32, 48);
  box-shadow: 0px -8px 5px 0 rgba(255, 255, 255, 0.12);
  padding: 1em;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
  }

  .header__panel {
    flex-grow: 1;
  }

  .instructions {
    width: 480px;
  }

  .edit-button-panel {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1366px) {
  .header {
    padding-right: 480px;
  }

  .instructions {
    top: 0;
    height: 100%;
    z-index: 3;
  }

  .gallery-container {
    height: calc(100% - 128px);
    padding-right: 480px;
  }

  .code-panel {
    padding: 2em 480px 2em 1em;
  }

  .form-controls {
    box-shadow: -4px -4px 10px 0 rgba(255, 255, 255, 0.12);
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1em;
    width: 480px;
    z-index: 3;
  }

  .code-panel__code {
    margin: 1em 20% 2em;
  }
}

/* Components */
#logo {
  height: 132px;
}

#logo img {
  display: block;
  height: 132px;
  margin: 0 auto;
  max-width: 100%;
}

.header__panel {
  /*padding: 1em;*/
}

.icon-panel,
.alt-panel {
  display: flex;
}

.icon-panel {
  align-items: center;
  height: calc(64px + 2em);
  justify-content: space-evenly;
  padding: 1em 0;
  position: absolute;
  top: 196px;
  width: 100%;
}

.alt-panel {
  height: 64px;
  justify-content: center;
  padding: 1em;
}

.social-icons {
  display: flex;
  margin: 0;
  padding: 1em;
}

.social-icons__icon {
  list-style-type: none;
}

a.social-icons__anchor {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 0.25em;
}

.donation-icon input {
  padding: 0;
}

.instructions-btn .fa-question,
.clear-btn .fa-trash,
.btn-prev .fa-caret-left,
.btn-del .fa-trash,
.btn-move-left .fa-arrows-alt {
  margin-right: 0.5em;
}

.form-row {
  margin: 0.5em 0;
}

.form-row--goto {
  border-bottom: 1px inset rgba(255, 255, 255, 0.25);
  padding-bottom: 1em;
}

a.go-to-gallery {
  color: #fefefe;
  text-decoration: none;
}

.form-row label {
  display: inline-block;
  padding: 0.5em 0;
}

.form-row .text-input {
  width: 100%;
}

.form-row .btn {
  display: block;
  margin: 1em auto;
  text-align: center;
  width: 100%;
}

.form-row .fas,
.code-panel .fas {
  margin: 0.5em;
}

.form-row select {
  width: 100%;
}

.form-row--select {
  position: relative;
}

.form-row--select .fa-chevron-down {
  position: absolute;
  right: 0;
}

.edit-button-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.edit-button-panel .btn {
  margin: 0.5em auto;
}

.btn-next .fa-caret-right,
.btn-move-right .fa-arrows-alt {
  margin-left: 0.5em;
}

.fa-trash {
  color: rgb(255, 64, 64);
}

.code-panel__title {
  margin: 0 10%;
}

.code-panel .btn {
  display: block;
  margin: 1em auto;
  width: 100%;
}

.code-panel__code {
  background-color: rgb(192, 192, 204);
  border-radius: 1em;
  box-shadow: -1px -1px 3px 0 rgba(255, 255, 255, 0.4) inset,
    1px 1px 3px 0 rgba(0, 0, 0, 0.4) inset;
  color: #333333;
  font-weight: bold;
  margin: 1em 10% 2em;
  padding: 1em;
}

.cookie-banner {
  align-items: center;
  background-color: rgb(192, 192, 204);
  bottom: 0;
  box-shadow: 0px -8px 5px 0 rgba(255, 255, 255, 0.12);
  color: #333333;
  /*display: none;*/
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 1em 2em;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 3;
}

.cookie-banner a,
.cookie-banner a:visited {
  color: rgb(0, 0, 192);
}

.close-btn {
  background-color: rgb(0, 192, 0);
  color: #ffffff;
  font-weight: bold;
}

.copyright {
  font-size: 0.9rem;
}

@media (min-width: 640px) {
  .form-row .btn {
    width: 50%;
  }

  .form-row label {
    display: inline-block;
    margin-right: 0.5em;
  }

  .form-row .text-input,
  .form-row select {
    float: right;
  }

  .form-row .text-input {
    width: 50%;
  }

  .form-row select {
    width: 50%;
  }

  .code-panel__title {
    margin: 0 0 0 10%;
  }

  .code-panel__title,
  .code-panel .btn {
    display: inline-block;
  }

  .code-panel__title {
    width: 40%;
  }

  .code-panel .btn {
    width: 40%;
  }
}

@media (min-width: 768px) {
  #logo,
  #logo img {
    height: 160px;
  }

  #logo {
    padding: 1em;
  }

  #logo img {
    margin: 0;
  }

  .icon-panel {
    align-items: flex-start;
    height: 128px;
    justify-content: flex-end;
    padding: 0;
    position: static;
    width: auto;
  }

  .donation-icon {
    padding: 1em;
  }

  .form-controls {
    padding-top: 1em;
  }

  .form-row label {
    display: inline-block;
    margin-right: 0.5em;
  }

  .form-row .text-input,
  .form-row select {
    float: right;
  }

  .form-row .text-input {
    width: 50%;
  }

  .form-row select {
    width: 25%;
  }

  .edit-button-panel {
    flex-direction: row;
    justify-content: center;
  }

  .edit-button-panel .btn {
    margin: 0.5em;
  }

  .cookie-banner {
    align-items: flex-start;
    flex-direction: row;
  }

  .cookie-banner__notice {
    flex: 2 1 50%;
  }

  .close-btn {
    flex: 1 1 15%;
  }
}

@media (min-width: 1024px) {
  .cookie-banner {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    left: 12.5%;
    right: 12.5%;
    width: 75%;
  }
}

@media (min-width: 1366px) {
  .form-row--goto {
    position: absolute;
    left: -9999px;
  }

  .form-row .btn {
    width: 75%;
  }

  .form-row label + select {
    width: 45%;
  }

  .form-row select {
    width: 50%;
  }

  .code-panel__title {
    margin: 0 0 0 20%;
    width: 50%;
  }

  .code-panel__code {
    margin: 1em 20% 2em;
  }

  .code-panel .btn {
    width: 10%;
  }
}

/* JS modal classes */
.is-highlighted {
  border: 2px solid #c0c0c0;
}

.is-highlighted a {
  cursor: default;
}

.is-editable {
  border: 2px solid rgb(255, 255, 128);
}

/* CSS for Gallery output */
.jgd-gallery {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  min-height: 240px;
}

.jgd-gallery figure {
  margin: 0;
}

.jgd-gallery__image img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.padding-24 {
  padding: 24px 0;
}

.padding-48 {
  padding: 48px 0;
}

.padding-72 {
  padding: 72px 0;
}

.padding-96 {
  padding: 96px 0;
}

.gap8 {
  grid-gap: 8px;
}

.gap16 {
  grid-gap: 16px;
}

.gap24 {
  grid-gap: 24px;
}

.gap32 {
  grid-gap: 32px;
}

.img240,
.img320,
.img560,
.img640 {
  grid-template-columns: repeat(auto-fit, 240px);
  max-width: 240px;
}

.img240 img,
.img320 img,
.img560 img,
.img640 img {
  height: 240px;
  width: 240px;
}

@media (min-width: 768px) {
  .img240 {
    max-width: 480px;
  }

  .img240.gap8 {
    max-width: 488px;
  }

  .img240.gap16 {
    max-width: 496px;
  }

  .img240.gap24 {
    max-width: 504px;
  }

  .img240.gap32 {
    max-width: 512px;
  }

  .img320 {
    grid-template-columns: repeat(auto-fit, 320px);
    max-width: 640px;
  }

  .img320 img {
    height: 320px;
    width: 320px;
  }

  .img320.gap8 {
    max-width: 648px;
  }

  .img320.gap16 {
    max-width: 656px;
  }

  .img320.gap24 {
    max-width: 664px;
  }

  .img320.gap32 {
    max-width: 672px;
  }

  .img560 {
    grid-template-columns: repeat(auto-fit, 560px);
    max-width: 560px;
  }

  .img560 img {
    height: 560px;
    width: 560px;
  }

  .img640 {
    grid-template-columns: repeat(auto-fit, 640px);
    max-width: 640px;
  }

  .img640 img {
    height: 640px;
    width: 640px;
  }
}

@media (min-width: 1366px) {
  .img240 {
    max-width: 960px;
  }

  .img240.gap8 {
    max-width: 984px;
  }

  .img240.gap16 {
    max-width: 1008px;
  }

  .img240.gap24 {
    max-width: 1032px;
  }

  .img240.gap32 {
    max-width: 1056px;
  }

  .img320 {
    max-width: 960px;
  }

  .img320.gap8 {
    max-width: 976px;
  }

  .img320.gap16 {
    max-width: 992px;
  }

  .img320.gap24 {
    max-width: 1008px;
  }

  .img320.gap32 {
    max-width: 1024px;
  }

  .img560 {
    max-width: 1120px;
  }

  .img560.gap8 {
    max-width: 1128px;
  }

  .img560.gap16 {
    max-width: 1136px;
  }

  .img560.gap24 {
    max-width: 1144px;
  }

  .img560.gap32 {
    max-width: 1152px;
  }
}

/* Utility classes for JavaScript, Animations etc. */
.hide,
.screen-reader {
  position: absolute;
  left: -9999px;
}

.error,
.warning {
  font-size: 0.9rem;
  padding: 0 0.5em;
}

.error ~ .img-input {
  border: 1px solid rgb(255, 64, 64);
}

.warning ~ .alt-input {
  border: 1px solid rgb(255, 192, 64);
}

.img-placeholder {
  align-self: center;
  text-align: center;
}

.off-screen-left {
  transform: translateX(-102%);
}
